{% extends 'base.html.twig' %}

{% block body %}
    <h1>Subtitle file stats generator</h1>

    <form action="{{ path('parse') }}" method="post" enctype="multipart/form-data">
        Subtitle files: <input type="file" name="subtitle"/>
        <input type="submit"/>
    </form>

{% endblock %}